@{
    Layout = "~/Views/Shared/_Template.cshtml";
}
@using OW.Operation.OW.Model

<div class="page">
    <div class="page-content d-flex align-items-stretch">
        <!-- 侧边 -->
        @Html.Partial("_sidebar")
        <!--侧边-->
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">外来车辆</h2>
                </div>
            </header>
            <div class="col-lg-6" style="padding:10px;">
                <div class="input-group">
                   
                    <input type="text" class="form-control" placeholder="请输入查找内容">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="background-color:#796AEE;">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            编号
                        </th>

                        <th>
                            车型
                        </th>
                        <th>
                            车牌号
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    @foreach (CarsInfo item in ViewBag.wcar)
                    {
                        <tr>
                            <td>@item.CarID</td>
                            <td>@item.UserName</td>
                            <td>@item.UserSex</td>
                            <td>@item.Usersfz</td>
                            <td>@item.UserPhone</td>
                            <td>@item.Brand</td>
                            <td>@item.License</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#myModal">删除</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




